@import '~css/utils/carousel.scss';

.banner {
  position: relative;
  width: 100%;
  padding-top: 31.006%;
}

.banner .carousel {
  position: absolute;
  top: 0;
}

.banner .carousel-control::after {
  border-width: 4px
}

.banner .btn-next.carousel-control::after {
  right: 50%;
}

.banner .btn-prev.carousel-control::after {
  left: 50%;
}

.banner img {
  width: 100%;
}

@media(max-width: 576px) {
  .carousel-control {
    display: none;
  }
}