<div class="sj_news-center">
  <div class="sj_second-title">
    <span> {{ $ctrl.cn_name }} </span>
    <span> {{ $ctrl.en_name }} </span>
  </div>

  <div class="sj_wrapper">
    <div class="sj_tab">
      <div
        class="sj_tab-item"
        ng-repeat="item in $ctrl.types"
        ng-class="{ active: $ctrl.isActive(item.type) }"
        data-type="{{ item.type }}"
        ng-click="$ctrl.showItem($event.target, item.type)"> {{ item.name }} </div>
    </div>
    <div class="sj_tab-content">
      <div
        class="sj_new-item"
        ng-repeat="(index, item) in $ctrl.list"
        ng-class="{ reverse: $ctrl.isReverse(index), hide: $ctrl.isHide(item.type)}"
        data-type="{{ item.type }}"
        style="{{ item.type !== '1' ? 'display: none' : '' }}">
        
        <a href="{{ item.href }}">
          <img ng-src="{{ item.img }}" alt="{{ item.alt }}">
        </a>
  
        <div class="sj_new-content">
          <div class="sj_new-title">
            <a href="{{ item.href }}"> {{ item.title }} </a>
          </div>
          <div class="sj_new-link">原文链接</div>
          <div class="sj_new-date"> {{ item.date }} </div>
          <div class="sj_new-desc multi-line"> {{ item.desc }} </div>
        </div>
      </div>
    </div>
  </div>
</div>