@import "~css/utils/normalize.scss";
@import "~css/utils/inital.scss";
@import "~css/path.scss";

@font-face {
  font-family: Adobe;
  src: url('#{$font-path}/kt-GB2312.ttf');
}

@font-face {
  font-family: GB;
  src: url('#{$font-path}/kt-GB2312.ttf');
}

a {
  text-decoration: none;
}

// index-title
.sj_index-title {
  padding: 0;
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

.sj_index-title span {
  display: inline-block;
}

.sj_index-title span:nth-of-type(1) {
  font-size: 24px;
  line-height: 1.0;
  color: #2962d8;
}

.sj_index-title span:nth-of-type(2) {
  font-size: 16px;
  line-height: 1.0;
  color: #0f3177;
}

.sj_index-title div {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 18px;
  margin-bottom: 14px;
  background: #cfcfcf;
}

.sj_index-title div:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  display: inline-block;
  width: 35px;
  height: 3px;
  margin-left: -17px;
  background: #c62631;
}

// second-title
.sj_second-title {
  padding: 78px 0;
  text-align: center;
}

.sj_second-title span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.0;
}

.sj_second-title span:nth-of-type(1) {
  font-size: 28px;
  color: #fff;
}

.sj_second-title span:nth-last-of-type(1) {
  font-size: 18px;
  color: #a7a7a7;
}

// block-title
.sj_block-title {
  margin-top: 74px;
}

.sj_block-title div:nth-of-type(1) {
  font-size: 36px;
  line-height: 1.0;
  color: #333;
}

.sj_block-title div:nth-of-type(2) {
  margin-top: 18px;
  font-size: 28px;
  line-height: 1.0;
  color: #a7a7a7;
  font-weight: bold;
}

@media(max-width: 991px)  {
  .sj_block-title {
    padding: 0 20px;
  }
}

// text-overflow
.multi-line {
  position: relative;
}

.multi-line:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.sj_arrow-more {
  position: relative;
  top: 0.5em;
}

.sj_arrow-more span {
  position: absolute;
  top: 1em;
  right: 1em;
  display: inline-block;
  width: 18px;
  height: 15px;
  margin-top: 6px;
  transition: transform 0.3s linear;
}

.sj_arrow-more.active span {
  transform-origin: center center;
  transform: rotate(90deg);
}

.sj_arrow-more span:before,
.sj_arrow-more span:after {
  position: absolute;
  content: "";
  display: inline-block;
}

.sj_arrow-more span:before {
  top: 3px;
  left: 0;
  width: 12px;
  height: 12px;
  border-top: 2px solid #6d6d6d;
  border-right: 2px solid #6d6d6d;
  transform-origin: center center;
  transform: rotate(45deg);
}

.sj_arrow-more span:after {
  top: 0;
  right: 0;
  width: 2px;
  height: 18px;
  background: #6d6d6d;
}

@media(min-width: 992px) {
  .container,
  .sj_wrapper {
    width: 1226px;
    margin: 0 auto;
  }
}

@media(max-width: 576px) {
  .container,
  .sj_wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

.spinner.hide {
  display: none;
  visibility: hidden;
}

@keyframes spin-fade-loader {
  50% {
    opacity: .3;
    transform: scale(.4)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.spin-fade-loader {
  position: relative;
  top: -10px;
  left: -10px
}

.spin-fade-loader > div {
  position: absolute;

  width: 15px;
  height: 15px;
  margin: 2px;

  border-radius: 100%;
  
  background-color: #fff;
  animation-fill-mode: both
}

.spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  animation: spin-fade-loader 1s -.96s infinite linear
}

.spin-fade-loader > div:nth-child(2) {
  top: 17.05px;
  left: 17.05px;
  animation: spin-fade-loader 1s -.84s infinite linear
}

.spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  animation: spin-fade-loader 1s -.72s infinite linear
}

.spin-fade-loader > div:nth-child(4) {
  top: -17.05px;
  left: 17.05px;
  animation: spin-fade-loader 1s -.6s infinite linear
}

.spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  animation: spin-fade-loader 1s -.48s infinite linear
}

.spin-fade-loader > div:nth-child(6) {
  top: -17.05px;
  left: -17.05px;
  -webkit-animation: spin-fade-loader 1s -.36s infinite linear;
  animation: spin-fade-loader 1s -.36s infinite linear
}

.spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  -webkit-animation: spin-fade-loader 1s -.24s infinite linear;
  animation: spin-fade-loader 1s -.24s infinite linear
}

.spin-fade-loader > div:nth-child(8) {
  top: 17.05px;
  left: -17.05px;
  animation: spin-fade-loader 1s -.12s infinite linear
}