.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* carousel-item */ 
.carousel-item {
  display: none;
  width: 100%;
  height: 200px;
  float: left;
  margin-right: -100%;
  transition: transform ease-in-out 0.6s;
}
.carousel-item.prev,
.carousel-item.next,
.carousel-item.active {
  display: block;
}

.carousel-item.prev:not(.right),
.carousel-item.active.left {
  transform: translateX(-100%)
}

.carousel-item.next:not(.left),
.carousel-item.active.right {
  transform: translateX(100%);
}

/* carousel-item content */
.carousel-item a {
  display: block;
  width: 100%;
  width: 100%;
}

/* carousel indicator */
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;

  height: 6px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.carousel-indicators li {
  list-style: none;

  width: 30px;
  height: 100%;
  margin-left: 4px;
  margin-right: 4px;
  background: #fff;

  opacity: .6;

  cursor: pointer;
}

.carousel-indicators li.active {
  opacity: 1
}

/* carousel control */
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 25%;

  cursor: pointer;
}

.btn-prev.carousel-control {
  left: 0;
}

.btn-next.carousel-control {
  right: 0;
}

.carousel-control::after {
  content: '';

  position: absolute;
  top: 50%;

  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  
  transform-origin: center center;
  transform: translateY(-50%) rotate(45deg);
  transition: all ease-in-out 0.6s;

  opacity: .7;

}

.carousel-control:hover::after {
  opacity: 1;
}

.btn-next.carousel-control::after {
  border-top-color: #fff;
  border-right-color: #fff;
  right: 32%;
}

.btn-prev.carousel-control::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
  left: 32%;
}
